RewriteEngine On

RewriteRule ^(composer\.(json|lock)|\.env)$ / [R=302,L]
RewriteRule ^vendor/ / [R=302,L]
RewriteRule ^(.*)\.(json|yaml|yml|lock)$ / [R=302,L]

RewriteCond %{REQUEST_URI} ^/public/(.*)$
RewriteCond %{REQUEST_URI} !^/public/index.php$
RewriteRule ^ / [R=302,L]

RewriteCond %{THE_REQUEST} /public/index\.php [NC]
RewriteRule ^public/index\.php/?(.*)$ /$1 [R=301,L]

RewriteRule ^$ public/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?$1 [L,QSA]
